/*текст*/
#terminal div {
    color: gray;
    font: 12pt sans-serif;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: blue;
}

/*фон*/

body {
    background: black;
}

/*кнопки*/

button#connect {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
}

button#disconnect {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
}

#send-form input  {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
}

#send-form button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
}
