#terminal div {
    color: gray;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: blue;
}

#terminal div {
  font: font-family font-style font-variant font-weight font-size line-height;
}
