#terminal div {
    color: gray;
    font: 12pt sans-serif;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: blue;
}

 body {
    background: black;
}

button#connect {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
}
